<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Notes"
        tools:targetApi="31"
        android:name=".NotesApplication">
        
        <!-- Make OnboardingActivity the launcher -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".TaggedNotesActivity"
            android:label="Tagged Notes"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".SignInActivity"
            android:exported="false" />
            
        <!-- MainActivity no longer needs to be a launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
            
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        
        <!-- Keep other activities -->
        <activity 
            android:name=".NoteDetailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity 
            android:name=".NoteEditorActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".TrashActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="@string/nav_trash" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="@string/nav_settings" />

        <!-- Add DriveActivity -->
        <activity
            android:name=".drive.DriveActivity"
            android:exported="false"
            android:label="@string/drive_sync"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".service.NotesFirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="notes_notifications" />
            
    </application>
</manifest>